.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 96px;
  height: 96px;
  margin-bottom: 16px;
}

.title {
  font-family: $font-roboto-mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.5px;
  text-align: center;
  margin-bottom: 110px;
}
