@import "../../node_modules/normalize.css/normalize.css";
@import "./_reset.scss";
@import "./_fonts.scss";
@import "./_variables.scss";
@import "./_mixins.scss";

body {
  background-color: $black;
  font-family: $font-roboto-mono;
  font-weight: 400;
  font-size: 16px;
  color: $white;
}

.background {
  background: $gradient-background-color;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
}

main {
  flex: 1;
  margin-top: 310px;

  display: flex;
  flex-direction: column;
}

.mainContainer {
  min-height: calc(100vh - 308px);
}

// .scroll {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   overflow-y: auto;
// }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
