@import "../../node_modules/normalize.css/normalize.css";
@import "./_reset.scss";
@import "./_fonts.scss";
@import "./_variables.scss";
@import "./_mixins.scss";

body {
  background-color: $black;
  font-family: $font-roboto-mono;
  font-weight: 400;
  font-size: 16px;
  color: $white;
}

.background {
  background: $gradient-background-color;
  @media screen and (min-width: $breakpoint-medium) {
    background: $gradient-background-color-medium;
  }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  @media screen and (min-width: $breakpoint-medium) {
    position: static;
    overflow: visible;
  }
}

main {
  flex: 1;
  margin-top: 310px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $breakpoint-medium) {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.mainContainer {
  min-height: calc(100vh - 310px);
  @media screen and (min-width: $breakpoint-medium) {
    min-height: auto;
  }
}

footer {
  @media screen and (min-width: $breakpoint-large) {
    position: relative;
  }
}

.gradientBackground {
  @media screen and (min-width: $breakpoint-large) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -1;
    pointer-events: none;
    background: $gradient-background-color-large;
  }
}
