@import "../../node_modules/normalize.css/normalize.css";
@import "./_reset.scss";
@import "./_fonts.scss";
@import "./_variables.scss";
@import "./_mixins.scss";

body {
  background-color: $black;
  font-family: $font-roboto-mono;
  font-weight: 400;
  font-size: 16px;
  color: $white;
}

.background {
  background: $gradient-background-color;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.scroll {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
