.container {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 28px;
  @media screen and (min-width: $breakpoint-medium) {
    padding: 11px 48px 0px 48px;
  }
  @media screen and (min-width: $breakpoint-large) {
    padding: 11px 40px 0px 40px;
    width: $breakpoint-large;
    margin: 0 auto;
  }
}
