.container {
  margin: 0 auto;
  padding: 0 24px;

  @media screen and (min-width: $breakpoint-medium) {
    padding: 0 48px;
  }

  @media screen and (min-width: $breakpoint-large) {
    padding: 0 120px;
    width: $breakpoint-large;
  }
}

.title {
  font-family: $font-kanit;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;

  color: $white;

  padding-right: 43px;
  margin-bottom: 26px;

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 40px;
    line-height: 1.4;

    padding-top: 28px;
    margin-bottom: 18px;
  }

  @media screen and (min-width: $breakpoint-large) {
    font-size: 48px;

    padding-top: 32px;
    margin-bottom: 16px;
  }
}

.listStats {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;

  @media screen and (min-width: $breakpoint-medium) {
    padding-bottom: 32px;
    justify-content: start;
    gap: 40px;
  }

  @media screen and (min-width: $breakpoint-large) {
    padding-bottom: 48px;
  }
}

.item {
  @media screen and (min-width: $breakpoint-large) {
    display: inline-flex;
  }
}

.valueWrapper {
  display: flex;
  align-items: center;
  @media screen and (min-width: $breakpoint-large) {
    display: flex;
    align-items: end;
    margin-right: 12px;
  }
}

.value {
  font-family: $font-roboto-mono;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;

  margin-right: 4px;
  margin-bottom: 4px;
  @media screen and (min-width: $breakpoint-medium) {
    font-size: 28px;
    line-height: 1.7;

    margin-right: 8px;
  }
  @media screen and (min-width: $breakpoint-large) {
    font-size: 36px;
    line-height: 1;

    margin-bottom: 0px;
  }
}

.suffix {
  font-family: $font-roboto-mono;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  text-transform: uppercase;

  margin-right: 5px;
  @media screen and (min-width: $breakpoint-medium) {
    font-size: 16px;
    line-height: 1.25;

    margin-right: 8px;
  }
  @media screen and (min-width: $breakpoint-large) {
    font-size: 16px;
    line-height: 1;
    margin-right: 0;
  }
}

.labelWrapper {
  @media screen and (min-width: $breakpoint-large) {
    display: inline-flex;
    align-items: end;
  }
}

.label {
  font-family: $font-roboto-mono;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  @media screen and (min-width: $breakpoint-medium) {
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.32px;
    white-space: nowrap;
  }
  @media screen and (min-width: $breakpoint-large) {
    font-size: 16px;
    margin-right: 8px;
  }
}

.infoIcon {
  cursor: pointer;
  width: 11px;
  height: 11px;
  @media screen and (min-width: $breakpoint-medium) {
    width: 16px;
    height: 16px;
    fill: $white;
    path-stroke: $white;
  }
  @media screen and (min-width: $breakpoint-large) {
    width: 24px;
    height: 24px;
  }
}
