.container {
  margin: 0 auto;
  padding: 0 24px;
}

.title {
  font-family: $font-kanit;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;

  color: $white;

  padding-right: 43px;
  margin-bottom: 26px;
}

.listStats {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.value {
  font-family: $font-roboto-mono;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-right: 4px;
}

.suffix {
  font-family: $font-roboto-mono;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-right: 5px;
}

.infoIcon {
  cursor: pointer;
  width: 11px;
  height: 11px;
}

.label {
  font-family: $font-roboto-mono;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.8px;
}
