.form {
  flex: 1;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  font-family: $font-roboto-mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: $light-gray;

  background-color: transparent;
  border: none;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid $white;

  &:focus {
    outline: none;
    color: $white;
  }
}

.balance {
  margin-top: 34px;
}

.balanceValue {
  font-family: $font-roboto-mono;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  margin-left: 8px;
  margin-right: 4px;
}

.balanceUnit {
  font-family: $font-roboto-mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.button {
  @include button();
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0px;
  width: 327px;
  white-space: nowrap;
}

.buttonDisabled {
  @include buttonDisabled();
}
