.container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
}

.walletLogo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  @media screen and (min-width: $breakpoint-medium) {
    width: 32px;
    height: 32px;
  }
}

.walletValues {
  font-family: $font-kanit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 12px;
  }
  @media screen and (min-width: $breakpoint-medium) {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.walletAddress {
  display: flex;

  span {
    &:not(:last-child) {
      margin: 0px 8px;
    }
  }
}
